@font-face{
    font-family : "zen";
    src : url('HFF Zeldom Zen.ttf');
}
h1{
	font-size: 4em;
	font-family: zen;
	text-align: center;
	text-shadow : 1px 1px 1px green;
}
h2{
	font-size: 2em;
	font-family: Arial;
	text-align: center;
	text-shadow : 1px 1px 1px green;
}
#p1{
	font-size: 1.5em;
	font-family: Arial;
	padding-top: 10px;
	margin-left: 300px;
}
body{
	margin: 0 auto;
	background-color: #40d47e;
	color: white;
}
#d1{
	width: 100%;
	padding-top: 10px;
}
#d2{
	width: 80%;
	margin: 0 auto;
}
form{
	margin-top:20px;
}
label{
	font-family: Arial;
	font-weight: bold;
	font-size: 2em;
	padding-left: 20px;
}
#i1{
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 150px;
    height: 30px;
    color: #40d47e;
    font-family: Arial;
	font-size: .8em;
    border : none;
}
#i2{
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 500px;
    height: 30px;
    color: #40d47e;
    font-family: Arial;
	font-size: .8em;
    border : none;
}
#i3{
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 200px;
    height: 30px;
    color: #40d47e;
    background-color: white;
    font-family: Arial;
	font-size: 1.5em;
    border : none;
    float: right;
}
#i4{
	margin-top: 10px;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 300px;
    height: 20px;
    color: #40d47e;
    background-color: white;
    font-family: Arial;
	font-size: 0.5em;
    border : none;
}
#inscription{
	margin-left: 20%;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 700px;
    height: 50px;
    color: #40d47e;
    margin: 0 auto;
    background-color: white;
    font-family: Arial;
	font-size: 2em;
    border : none;
}
#connexion{
	margin-left: 50%;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 700px;
    height: 50px;
    color: #40d47e;
    margin: 0 auto;
    background-color: white;
    font-family: Arial;
	font-size: 2em;
    border : none;
}
form{
	text-align: center;
}
#container{
	width: 800px;
	margin: 0 auto;
}